// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bg-primary {
    background-color: #38c172 !important;
}

.btn-primary {
    background-color: #38c172 !important;
    border-color: #38c172 !important;
}

.deactivated {
    opacity: 0.5;
}

.btn-secondary {

    background-color: #69737F !important;
    border-color: #69737F !important;
}

.card-min-height {
    min-height: 175px;
}

.achivement-dashboard {
    width:50px;
    height:50px;
    margin:10px;
}

.achivement-page-item {
    width: 70px;
    height: 70px;
    margin-left: 20px;
    margin-right: 20px;
}

.divider {
    height: 2px;
    width: 100%;
    background-color: gray;
}

.hide {
    display: none;
}

.question-holder-header {
    border-top-left-radius:15px!important;
    border-top-right-radius:15px!important;
    font-weight: bold;
    color:white;
}


.question-holder {
    border-top:none;
    border-radius: 15px;
}

.bg-wrong {
    background-color: darkred;
}

.bg-right {
    background-color: #38c172;
}

.crafted {
    position: fixed;
    bottom: 15px;
    left: 15px;
}

.intro-show {
    background-image: url('/assets/images/intro.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 1;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-logo {
    width:100%;
    height:auto;
}

.logo-hold {
    width: 32vw;
}

.intro-start {
    background-color: white!important;
    color:black!important;
    border-color:white!important;
    width:10%;


}
.intro-start:hover {
    background-color: black!important;
    border-color: black!important;
    color: white!important;
}

.intro-icon {
    font-size: 16px;
}

@font-face {
    font-family: logoFont;
    src: url('/assets/fonts/logoFont.otf');
}

.logo-title {
    font-size: 8vw;
    font-family: logoFont;
    color: white;
}

.intro-description-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid gainsboro;
}

.show-invert {
    flex-direction: row-reverse!important;
}

.error-holder {
    position: absolute;
    right: 15px;
    top:60px;
    z-index: 3;
}
.error-handler {
    padding: 10px;
    background-color: $blue;
    border-radius: 10px;
    color: white;
    margin-bottom: 1rem;
}

.offset-right-12 {
    margin-right: 100%;
}
.offset-right-11 {
    margin-right: 91.66666667%;
}
.offset-right-10 {
    margin-right: 83.33333333%;
}
.offset-right-9 {
    margin-right: 75%;
}
.offset-right-8 {
    margin-right: 66.66666667%;
}
.offset-right-7 {
    margin-right: 58.33333333%;
}
.offset-right-6 {
    margin-right: 50%;
}
.offset-right-5 {
    margin-right: 41.66666667%;
}
.offset-right-4 {
    margin-right: 33.33333333%;
}
.offset-right-3 {
    margin-right: 25%;
}
.offset-right-2 {
    margin-right: 16.66666667%;
}
.offset-right-1 {
    margin-right: 8.33333333%;
}
.offset-right-0 {
    margin-right: 0;
}
@media (min-width: 576px) {
    .offset-sm-right-12 {
        margin-right: 100%;
    }
    .offset-sm-right-11 {
        margin-right: 91.66666667%;
    }
    .offset-sm-right-10 {
        margin-right: 83.33333333%;
    }
    .offset-sm-right-9 {
        margin-right: 75%;
    }
    .offset-sm-right-8 {
        margin-right: 66.66666667%;
    }
    .offset-sm-right-7 {
        margin-right: 58.33333333%;
    }
    .offset-sm-right-6 {
        margin-right: 50%;
    }
    .offset-sm-right-5 {
        margin-right: 41.66666667%;
    }
    .offset-sm-right-4 {
        margin-right: 33.33333333%;
    }
    .offset-sm-right-3 {
        margin-right: 25%;
    }
    .offset-sm-right-2 {
        margin-right: 16.66666667%;
    }
    .offset-sm-right-1 {
        margin-right: 8.33333333%;
    }
    .offset-sm-right-0 {
        margin-right: 0;
    }
}
@media (min-width: 768px) {
    .offset-md-right-12 {
        margin-right: 100%;
    }
    .offset-md-right-11 {
        margin-right: 91.66666667%;
    }
    .offset-md-right-10 {
        margin-right: 83.33333333%;
    }
    .offset-md-right-9 {
        margin-right: 75%;
    }
    .offset-md-right-8 {
        margin-right: 66.66666667%;
    }
    .offset-md-right-7 {
        margin-right: 58.33333333%;
    }
    .offset-md-right-6 {
        margin-right: 50%;
    }
    .offset-md-right-5 {
        margin-right: 41.66666667%;
    }
    .offset-md-right-4 {
        margin-right: 33.33333333%;
    }
    .offset-md-right-3 {
        margin-right: 25%;
    }
    .offset-md-right-2 {
        margin-right: 16.66666667%;
    }
    .offset-md-right-1 {
        margin-right: 8.33333333%;
    }
    .offset-md-right-0 {
        margin-right: 0;
    }
}
@media (min-width: 992px) {
    .offset-lg-right-12 {
        margin-right: 100%;
    }
    .offset-lg-right-11 {
        margin-right: 91.66666667%;
    }
    .offset-lg-right-10 {
        margin-right: 83.33333333%;
    }
    .offset-lg-right-9 {
        margin-right: 75%;
    }
    .offset-lg-right-8 {
        margin-right: 66.66666667%;
    }
    .offset-lg-right-7 {
        margin-right: 58.33333333%;
    }
    .offset-lg-right-6 {
        margin-right: 50%;
    }
    .offset-lg-right-5 {
        margin-right: 41.66666667%;
    }
    .offset-lg-right-4 {
        margin-right: 33.33333333%;
    }
    .offset-lg-right-3 {
        margin-right: 25%;
    }
    .offset-lg-right-2 {
        margin-right: 16.66666667%;
    }
    .offset-lg-right-1 {
        margin-right: 8.33333333%;
    }
    .offset-lg-right-0 {
        margin-right: 0;
    }
}
@media (min-width: 1200px) {
    .offset-xl-right-12 {
        margin-right: 100%;
    }
    .offset-xl-right-11 {
        margin-right: 91.66666667%;
    }
    .offset-xl-right-10 {
        margin-right: 83.33333333%;
    }
    .offset-xl-right-9 {
        margin-right: 75%;
    }
    .offset-xl-right-8 {
        margin-right: 66.66666667%;
    }
    .offset-xl-right-7 {
        margin-right: 58.33333333%;
    }
    .offset-xl-right-6 {
        margin-right: 50%;
    }
    .offset-xl-right-5 {
        margin-right: 41.66666667%;
    }
    .offset-xl-right-4 {
        margin-right: 33.33333333%;
    }
    .offset-xl-right-3 {
        margin-right: 25%;
    }
    .offset-xl-right-2 {
        margin-right: 16.66666667%;
    }
    .offset-xl-right-1 {
        margin-right: 8.33333333%;
    }
    .offset-xl-right-0 {
        margin-right: 0;
    }
}
